@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
	--orange: hsl(31, 77%, 52%);
	--cyan: hsl(184, 100%, 22%);
	--dark-cyan: hsl(179, 100%, 13%);
	--white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
	--light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
	font-size: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--light-gray);
}

main {
	border-radius: 1rem;
	width: 60vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.sedans {
	padding: 3.2rem;
	border-radius: 0.8rem 0 0 0.8rem;
	background-color: var(--orange);
}

.suvs {
	padding: 3.2rem;
	background-color: var(--cyan);
}

.luxury {
	padding: 3.2rem;
	border-radius: 0 0.8rem 0.8rem 0;
	background-color: var(--dark-cyan);
}

h1 {
	text-transform: uppercase;
	padding: 2rem 0;
	font-weight: 700;
	font-family: 'Big Shoulders Display', cursive;
	font-size: 2.5rem;
	color: var(--light-gray);
}

p {
	line-height: 1.8;
	font-weight: 400;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 1rem;
	color: var(--white);
}

button {
	background-color: var(--light-gray);
	padding: 1rem 2rem;
	font-size: 1rem;
	border-radius: 2rem;
	margin-top: 5rem;
	font-family: 'Lexend Deca', sans-serif;
	border: none;
	cursor: pointer;
	transition: 0.2s;
}

.sedans button {
	color: var(--orange);
}

.suvs button {
	color: var(--cyan);
}

.luxury button {
	color: var(--dark-cyan);
}

button:hover {
	background-color: transparent;
	outline: .2rem solid var(--white);
	color: var(--white);
}

@media screen and (max-width: 800px) {
	main {
		border-radius: 1rem;
		width: 90vw;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}

	.sedans {
		border-radius: 0.8rem 0.8rem 0 0;
	}

	.luxury {
		border-radius: 0 0 0.8rem 0.8rem;
	}
}